{
	local_certs
	admin localhost:2023
	http_port 8080
	https_port 8443
}

api.nodeauth.dev {
	bind 127.0.0.1
	tls internal
	reverse_proxy localhost:5000

}

nodeauth.dev {
	bind 127.0.0.1
	tls internal
	reverse_proxy localhost:3000

}
